{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{% static '/remitos/dist/assets/OmasLogo-074822df.png' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Omas Fatturazione</title>
    <script type="module" crossorigin src="{% static '/remitos/dist/assets/index-4e288e96.js' %}"></script>
    <link rel="stylesheet" href="{% static '/remitos/dist/assets/index-08774f3d.css' %}">
  </head>
  <body>
    <div id="root"></div>
    
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger-cx/bootstrap.js?v=1"></script>

    <style>
      .chat-wrapper .chat-open {
        height: 200px !important;
        background-color: red !important;
        position: absolute !important;
        left: 300 !important;
      }
    </style>
  </body>
</html>
